html,
body,
#root,
.App {
    text-align: center;
    background-color:#50b397;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10% + 2vmin);
}

